<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@300&family=Poppins:wght@300&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Products</title>
</head>
<body>
    <div class="searchBar">
        <i class="fa fa-search search" aria-hidden="true"></i>
        <input type="text" id="query" placeholder="Search...">
    </div>
    <div class="container">

    <div class="card">
        <img src="/images/shoe.jpg" alt="">
        <div class="info">
            <i class="fa fa-pencil-square-o pencil" aria-hidden="true"></i>
            <i class="fa fa-cart-plus cart" aria-hidden="true"></i>
        </div>
        <div class="rating">
            <h2>Puma</h2>
            <p id="emoji">&#128522</p>
            <p>$12.89</p>
        </div>
    </div>


    <div class="card">
        <img src="https://images.unsplash.com/photo-1529374255404-311a2a4f1fd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=300" alt="">
        <div class="info">
            <i class="fa fa-pencil-square-o pencil" aria-hidden="true"></i>
            <i class="fa fa-cart-plus cart" aria-hidden="true"></i>
        </div>
        <div class="rating">
            <h2>Unisex Tshirt</h2>
            <p id="emoji">&#128522</p>
            <p>$12.89</p>
        </div>
    </div>


    <div class="card">
        <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="">
        <div class="info">
            <i class="fa fa-pencil-square-o pencil" aria-hidden="true"></i>
            <i class="fa fa-cart-plus cart" aria-hidden="true"></i>
        </div>
        <div class="rating">
            <h2>Iphone X Pro</h2>
            <p id="emoji">&#128522</p>
            <p>$12.89</p>
        </div>
    </div>

    </div>
</body>
<script src="main.js"></script>
</html>